<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MySuite"  parallel="tests" thread-count="2">

    <test name="Chrome Tests">
        <parameter name="url" value="https://www.saucedemo.com/" />
        <parameter name="browser" value="chrome" />

        <classes>
            <class name="Application.ApplicationTest" />
        </classes>
    </test>




</suite>
